body{
    background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328__340.jpg');

    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    

    
}


nav,ul,li,a{
    display:block;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: x-large;
    float: left;
    
}

nav,ul,li{
    display:inline-block;
    float: right
    
}

nav,ul{
    text-align: left;
}

p{
    color: white
}
h1{
    color: white
}

img{position: absolute; right:0px;
    padding-right: 30%;
    padding-top: 16%

}

.intro{
    padding-top: 29%;
}

.career{
    padding-top: 5%;
    font-style: oblique;
    font-size: x-large;

}

.quote{
    
}

