body{
    background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328__340.jpg');

    background-size:1350px 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
}


nav{
    padding: px;
}

nav,ul,li,a{
    display:block;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

nav,ul,li{
    display:inline-block;
}

nav,ul{
    text-align: left;
}

p{
    color: white
}
h1{
    color: white
}

